@font-face {
  font-family: 'CrimsonText';
  src: local('CrimsonText'), url(./fonts/CrimsonText-Regular.ttf),
    format('truetype');
}

.App {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'CrimsonText', Cambria, Cochin, Georgia, Times, 'Times New Roman',
    serif;
  background-image: url(./img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

h2 {
  font-size: 54px;
}
input,
button {
  font-family: inherit;
  width: 200px;
  opacity: 0.9;
  border-radius: 12px;
  text-align: center;
}
button {
  width: 80px;
}
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.forecast {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.current-container,
.forecast-day {
  background-image: url(./img/card-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 3px 3px 10px steelblue;
}
.current-container {
  backdrop-filter: blur(10px);
  width: 240px;
  margin: 32px;
  padding: 16px;
}

.forecast-day {
  /* background: rgba(255, 255, 255, 0.6); */
  /* background: #e2eafc; */
  /* box-shadow: 5px 5px 5px #333333; */
  width: 160px;
  padding: 12px;
  /* border-radius: 8px; */
  margin-bottom: 48px;
}

.forecast-rain {
  display: flex;
  flex-direction: row;
}
.forecast-rain img {
  height: 48px;
}

.middle {
  text-align: center;
}
